/* Styling for the main heading */
h1 {
  background-color: lightblue;
  text-align: center;
  color: indigo;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: cornflowerblue;
  font-size: 36px;
}

/* Styling for the table links in the nav bar */
table a {
  background-color: lightblue;
  font-size: 18px;
  text-align: center;
  text-decoration: none; /* Removes the underline from links */
  color: black;
  padding: 10px;
  display: block;
}

/* Styling for the entire page */
body {
  font-size: 16px;
  text-align: center;
  background-color: royalblue;
  margin: 0;
}

/* Centering the header */
header {
  text-align: center;
  margin: 0;
}

/* Padding for table cells */
td {
  padding: 10px;
}

/* Centering the navigation */
nav {
  display: flex;
  justify-content: center;
}